{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RhynoSetups</title>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
</head>

<style>
    body {
        width: 100%;
        height: 100vh;
        background-image: url("{% static 'core/img/Fondo.jpg' %}");
        background-size: cover;
        background-position: center;
        background-repeat: repeat;
        font-family: Roboto, "sans-serif";
    }
</style>

<body>
    <!-- BARRA DE NAVEGACIÓN -->

    <div class="naveg">
        <div class="navbar">
            <img src="{% static 'core/img/logo2.png' %}" class="logo" alt="Main Logo" width="250" height="150">
            <ul>
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'contacto' %}">Contacto</a></li>
                <li><a href="{% url 'builds' %}">Builds</a></li>
                <li><a href="{% url 'login' %}">Inicio de Sesión</a></li>
            </ul>
        </div>
    </div>

    <!-- CARRUSEL -->

    <div class="carrusel">
        <div class="carru">
            <ul class="slider">
                <li id="slide1">
                    <img src="{% static 'core/img/slide1.jpg' %}" width="800" height="300">
                </li>
                <li id="slide2">
                    <img src="{% static 'core/img/slide2.jpg' %}">
                </li>
                <li id="slide3">
                    <img src="{% static 'core/img/slide3.jpg' %}">
                </li>
            </ul>

            <ul class="menu">
                <li>
                    <a href="#slide1">1</a>
                </li>
                <li>
                    <a href="#slide2">2</a>
                </li>
                <li>
                    <a href="#slide3">3</a>
                </li>

            </ul>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <!-- CARTAS -->

    <div class="cartas">
        <div class="card">
            <img src="{% static 'core/img/card1.png' %}">
            <h4>Builds</h4>
            <a href="#">Ir</a>
        </div>

        <div class="card">
            <img src="{% static 'core/img/card2.png' %}">
            <h4>Builds Personalizadas</h4>
            <a href="#">Ir</a>
        </div>

        <div class="card">
            <img src="{% static 'core/img/card3.png' %}">
            <h4>Consultas</h4>
            <a href="consulta.html">Ir</a>
        </div>

    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <!-- FOOTER -->

    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#"><img src="{% static 'core/img/logo2.png' %}"></a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>Somos una pequeña empresa donde nuestra principal misión es ayudar a nuestro clientes a realizar el ensamblado de su PC como tambíen tener PC's Disponibles para ellos</p>
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <div class="#" class="fa fa-facebook"></div>
                    <div class="#" class="fa fa-instragram"></div>
                    <div class="#" class="fa fa-twitter"></div>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2022 <b>RhynoSetups</b> - Todos los derechos reservados.</small>
        </div>
    </footer>


</body>

</html>